@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'variables';

$fa-font-path:"../webfonts";

@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.router-link-active{
    background-color: #1EE2E7 !important;
    color: #fff !important;
}

.card-header::after,
.card-body::after,
.card-footer::after {
  display: block;
  clear: both;
  content: none;
}

#type{
  border-color: #6b7280;
}